<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="css/gride.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
	<title>47shops</title>
</head>
<body>
<section class="full-width forgot_password_padd">
	<div class="fix-width">
		<div class="flexible-div forgot_password_align">
			<div class="dash-md-7">
				<div class="forgot_pass_img">
					<img src="images/change_password.jpg" class="image-resposive">
				</div>
			</div>
			<div class="dash-md-5">
				<div class="forgot_password_form">
					<a href="/">
						<img src="images/logo.png" class="logo_img">
					</a>
					<h4>Change Password</h4>
					<form action="">
						<ul>
							<li>
								<label>New password</label>
								<input type="password" name="">
							</li>
							<li>
								<label>Confirm New password</label>
								<input type="password" name="">
							</li>
							<li>
								<input type="submit" name="" value="Save Password" class="forgot_sendbtn">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>




</body>
</html>