{{>header}}
<!-- start middle content -->
<section class="full-width section_p section_wave">
	<div class="fix-width">
		<div class="flexible-div align-items-center">
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/grocery-application.png" class="image-resposive">
				</div>
			</div><!--end dash-->
			<div class="dash-md-7">
				<div class="build_cntnt launch_app_cntnt">
					<h4>What are the requirements to launch the application?</h4>
					<p>We will help you in every step to launch your ecommerce grocery store, arranging the below requirements in advance will help us in speeding up the process.</p>
					<ul>
						<li>
							<span><i class="fas fa-check"></i> </span> 
							<div class="app_content">
								<p class="mange_app">PayU merchant account to process online payments</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Google MAP API KEY with all the API and Billing enabled</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">An active SMS package for OTPs and SMS notifications</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Server with Linux Hosting and cPanel</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Domain name</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">SSL certificate</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Play Store Developer Account</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Apple Developer Account</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Firebase Console Account</p>
							</div>
						</li>
					</ul>
					<a href="#" class="more_btn">Learn More About Grocery Ecommerce Store <span style="margin-left: 5px;"><i class="fas fa-chevron-right"></i></span></a>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="demo_btm_cntnt">
					<p>Call our Experts, in case you are facing any difficulty using the application.</p>
					<h3>Different App for Different Process.</h3>
					<div class="play_logo">
						<img src="images/play.png">
						<img src="images/ios.png">
					</div>
					<p>You will get 4 different applications to make an easier process to dispatch orders even if you have multiple stores.</p>
					<h4>Different Application for Customer, Store Manager, Packer &amp; Delivery Boy</h4>
					<div class="button_groutp">
						<ul>
							<li>
								<a href="#">Learn More About Customer Application</a>
							</li>
							<li>
								<a href="#">Learn More About Manager's Application</a>
							</li>
							<li>
								<a href="#">Learn More About Delivery Boy's Application</a>
							</li>
						</ul>
						<p>And a Master Admin Panel to manager the complete software. <a href="#"> Click to Know the Features of Master Admin Panel</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



{{>footer}}