{{>header}}
<!-- start Frequently -->
<section class="full-width section_p frequently_bgc">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>Faq</h3>
				</div>
			</div>
		</div>
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="frequency_according">
				    <div class="tabs">
				      <div class="tab">
				        <input type="radio" id="rd1" name="rd">
				        <label class="tab-label" for="rd1">
				        	<h6>Grocery Ecommerce Queries</h6>
				        </label>
				        <div class="tab-content">
				          <div class="tab_cntnt_box">
				          	<p><strong><span>Q: What is BookmyKart Grocery App?</span></strong></p>
				          	<p>Ans: BookmyKart Grocery application is an online application specially designed for local grocery dealers, fruit and vegetable sellers and other small retailers dealing in basic essential needs of any customer.</p>
				          	<br>
				          	<p><strong><span>Q: Will I get my own logo?</span></strong></p>
				          	<p>Ans: Yes, the complete application will follow your brand name only.</p>
				          	<br>
				          	<p><strong><span>Q: Do I need to pay any yearly fees?</span></strong></p>
				          	<p>Ans: No, if you buy a single license upfront payment plan.</p>
				          	<br>
				          	<p><strong><span>Q: Does the platform have a security feature?</span></strong></p>
				          	<p>Ans: Yes, we will install the SSL certificate to your application which will provide an additional layer of security to every transaction on the platform.</p>
				          	<br>
				          	<p><strong><span>Q: Who will set up the application?</span></strong></p>
				          	<p>Ans: Our team of experts will take care of this task with ease. You just relax and start making marketing plans to promote the application.</p>
				          	<br>
				          	<p><strong><span>Q: Will my application go live in the Google Play Store and Apple App Store?</span></strong></p>
				          	<p>Ans: Yes, with your app name.</p>
				          		<br>
				          	<p><strong><span>Q: Can I get a customized App?</span></strong></p>
				          	<p>Ans: We have provided few options to customize the app like a change of logo, change in colour of the application only.</p>
				          		<br>
				          	<p><strong><span>Q: Do you provide marketing support as well?</span></strong></p>
				          	<p>Ans: Yes, we have a separate team to promote an application. For that, please get in touch with our sales team.</p>
				          	<br>
				          	<p><strong><span>Q: Will I get updates?</span></strong></p>
				          	<p>Ans: In the Monthly plan, you will get lifetime updates for FREE. In the upfront payment plan, you will get updates only for the 3 months from the date of the app launch. After that, you can buy our update plan at Rs.10,000 per year.</p>
				          	<br>
				          	<p><strong><span>Q: What is the after-sales support I get?</span></strong></p>
				          	<p>Ans: We believe in long term business relations. You will get complete support from our team to successfully launch your products to your application.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      <div class="tab">
				        <input type="radio" id="rd2" name="rd">
				        <label class="tab-label" for="rd2">
				        	<h6>General Ecommerce Queries</h6>
				        </label>
				        <div class="tab-content">
				         <div class="tab_cntnt_box">
				          	<p><strong><span>Is there any setup fees?</span></strong></p>
				          	<p>No, setup is completely FREE.</p>
				          	<br>
				          	<p><strong><span>Can I upgrade my account?</span></strong></p>
				          	<p>Yes, you can upgrade your account anytime to an upper plan by paying the difference amount only and enjoy benefits of new plan.</p>
				          	<br>
				          	<p><strong><span>Is there any discount on the plans given above?</span></strong></p>
				          	<p>Yes, we offer 10% discount in case you make 2 year's payment as advance.</p>
				          	<br>
				          	<p><strong><span>Do I have to sell the same products offline as I do online?</span></strong></p>
				          	<p>No, you can sell any products online, in-store, or both.</p>
				          	<br>
				          	<p><strong><span>Is there any restriction on what products I can sell online?</span></strong></p>
				          	<p>No, you can sell any product online which is legal to sell in your country.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      <div class="tab">
				        <input type="radio" id="rd3" name="rd">
				        <label class="tab-label" for="rd3">
				        	<h6>Technical Queries</h6>
				        </label>
				        <div class="tab-content">
				         <div class="tab_cntnt_box">
				          	<p><strong><span>Can I launch the store on my domain name?</span></strong></p>
				          	<p>Yes, our paltform is completely white labeled which can easily be configured to your domain name.</p>
				          	<br>
				          	<p><strong><span>Do i need my own hosting?</span></strong></p>
				          	<p>Yes, in case you are buying a self-hosted plan.</p>
				          	<br>
				          	<p><strong><span>Do you charge for web traffic as well?</span></strong></p>
				          	<p>No, we do not charge for any relevant traffic on the platform. We do not allow any bot traffic.</p>
				          	<br>
				          	<p><strong><span>Can I promote the platform online?</span></strong></p>
				          	<p>Yes, you can promote your store online to generate sales.</p>
				          	<br>
				          	<p><strong><span>Does BookMyKart helps in digital marketing?</span></strong></p>
				          	<p>Yes, we do help you in setting up your digital marketing strategy by taking a minimum fees for that.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      
				    </div><!--end tabs-->
				  </div>
			</div><!--end col-->
		</div>
	</div>
</section>
<!-- end Frequently -->


{{>footer}}