<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="css/gride.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
	<title>47shops</title>
</head>
<body>
<section class="full-width forgot_password_padd">
	<div class="fix-width">
		<div class="flexible-div forgot_password_align">
			<div class="dash-md-7">
				<div class="forgot_pass_img">
					<img src="images/forgot_password.jpg" class="image-resposive">
				</div>
			</div>
			<div class="dash-md-5">
				<div class="forgot_password_form">
					<img src="images/logo.png" class="logo_img">
					<h4>Recover your password</h4>
					<p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
					<form action="javascript:void(0);" onsubmit="showmodal();">
						<ul>
							<li>
								<label>Enter Your Email</label>
								<input type="text" name="">
							</li>
							<li>
								<input type="submit" name="" value="Send" class="forgot_sendbtn">
							</li>
						</ul>
					</form>
				</div>
				<a href="/login" class="back_sign">Backto Signin</a>
			</div>
		</div>
	</div>
</section>
<div class="sign_verify_modal">
	<div class="sign_verify_cntnt">
		<a href="javascript:void(0);" class="sign_modal_close" onclick="hidemodal();"><i class="fas fa-times"></i></a>
		<h4>We sent you a code</h4>
		<p>Enter it below to verify <span>demo@gmail.com/+91 9876543210</span></p>
		<form method="get" action="/change-password">
			<label>Enter Verify Code</label>
			<input type="text" name="">
			<button class="resend_btn">Resend Code</button>
			<button class="verify_btn" type="submit">Verify</button>
		</form>
	</div>
</div>
<!-- end verify modal -->

<script type="text/javascript">
		let sign_modal = document.getElementsByClassName("sign_verify_modal")[0];
		let sign_verify_cntnt = document.getElementsByClassName("sign_verify_cntnt")[0];
	function showmodal(){
		sign_modal.classList.add("active");
		sign_verify_cntnt.classList.add("active");
	}
	function hidemodal(){
		sign_modal.classList.remove("active");
		sign_verify_cntnt.classList.remove("active");
	}
	window.onclick = function(event) {
            if (event.target == sign_modal) {
            sign_modal.classList.remove("active");
            sign_verify_cntnt.classList.remove("active");
          }
	}
</script>

</body>
</html>