{{>header}}
<!-- start home banner -->
<section class="full-width home_banner_bg launchbanner">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-10 dash-lg-6">
				<div class="banner_cntnt">
					<h2>Launch your own Online Grocery Delivery App</h2>
					<p>Trusted by over 700+ new Start-Ups and established stores</p>
					<div class="banner_bts pricing_banner_btn">
						<a href="javascript:void(0)">Launch Your App</a>
					</div>
				</div>
			</div>
			<div class="dash-md-2 dash-lg-6"></div>
		</div>
	</div>
</section>
<!-- end home banner -->

<!-- start middle content -->
<section class="full-width section_p ">
	<div class="fix-width">
		<div class="flexible-div align-items-center">
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/app-maneger.png" class="image-resposive">
				</div>
			</div><!--end dash-->
			<div class="dash-md-7">
				<div class="build_cntnt launch_app_cntnt">
					<h4>Customer App</h4>
					<p>Bookmykart offers you a fully functional Readymade Grocery Website, Android App and iOS App. A fully featured readymade grocery app for seamless order processing.</p>
					<ul>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Quick Search</h6>
								<p>Customer can easily search for the desired products.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Product Categorization</h6>
								<p>Product categorization helps a customer navigate to the desired product easily.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>My List</h6>
								<p>Customer can create a list of products which they order regularly. This will help them save their time.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Mobile Apps</h6>
								<p>Android and iOS ready mobile apps. Create a better brand image.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Referral Program</h6>
								<p>Refer and earn program for the customer to promote your application and get some wallet credit in return.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Mobile Friendly Website</h6>
								<p>Place orders using mobile friendly website even if the application is not installed in the phone.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Easy Payments</h6>
								<p>Offer COD/Netbanking/Credit Card/Debit Card/Wallets payments for seamless payment processing.</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<h6>Subscription Model</h6>
								<p>Allow users to subscribe for any product for daily/weekly or monthly delivery by simply selecting the frequency on their own.</p>
							</div>
						</li>
					</ul>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p section_wave">
	<div class="fix-width">
		<div class="flexible-div align-items-center middle_order">
			<div class="dash-md-7">
				<div class="build_cntnt launch_app_cntnt">
					<h4>Store Manager App</h4>
					<p>Individual App for each Store Manager to process orders with ease. Each store manager will have a unique log in ID and password to access the app.</p>
					<ul>
						<li>
							<span><i class="fas fa-check"></i> </span> 
							<div class="app_content">
								<p class="mange_app">Get New Orders</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Check Order Summary</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Accept or Reject order</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Mark Stock-out</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Assign orders to packer</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Assign orders for delivery</p>
							</div>
						</li>
					</ul>
				</div>
			</div><!--end dash-->
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/manger-app.png" class="image-resposive">
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div align-items-center">
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/location_img.png" class="image-resposive">
				</div>
			</div><!--end dash-->
			<div class="dash-md-7">
				<div class="build_cntnt">
					<h4>Delivery Boy App</h4>
					<p>A powerful Delivery App to ensure timely and accurate delivery of the orders. Each driver will get their individual App with an individual log in ID and password.</p>
					<ul>
						<li>
							<span><i class="fas fa-check"></i> </span> 
							<div class="app_content">
								<p class="mange_app">Accept or reject orders</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Get Customer's Geo-locations</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Google Maps Navigation</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Mark Order Delivery Status</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Get Customer's details</p>
							</div>
						</li>
						<li>
							<span><i class="fas fa-check"></i></span> 
							<div class="app_content">
								<p class="mange_app">Get Order Payment Status as COD or Prepaid</p>
							</div>
						</li>
					</ul>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->

<!-- end middle content -->
<!-- start limited -->
<section class="full-width limited_time">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<h6>LIMITED TIME - Earn up to &#x20B9;25 each month for driving free users!</h6>
			</div>
		</div>
	</div>
</section>
<!-- end limited -->

<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="section_top_heading heading_padd">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>Admin Dashboard</h3>
				</div>
			</div>
		</div>
		<div class="flexible-div">
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/pen.svg">
					<h6>Neat & Clean Dashboard</h6>
					<p>Get everything you need to manage your online business directly from the Admin panel.</p>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/video.svg">
					<h6>Manage Orders</h6>
					<p>Manage orders received at all outlets: cancel order, change outlet, print and download the Invoice.</p>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/intellectual.svg">
					<h6>Push Notifications</h6>
					<p>Send Push notifications to all users by just one click. Send offers or updates with ease.</p>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/user.svg">
					<h6>Products and Categories</h6>
					<p>Add unlimited products and categories. You can add categories upto 4 levels to properly organize your products.</p>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/calendar.svg">
					<h6>Discount Engine</h6>
					<p>Create discount codes to offer instant discount to all your users. You can set Flat or Percentage discount code.</p>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="program_cntnt become_aff subscribe_mo">
					<img src="images/sand-clock.svg">
					<h6>Store Customization</h6>
					<p>Manage from anything to everything. Change logo, favicon, banners, ad banners, Social Media links, address, terms, privacy and other policies by using the powerful editor.</p>
				</div>
			</div><!--end dash-->

			
		</div><!--end flexible-->
	</div>
</section>
<section class="full-width limited_time related_price">
	<div class="fix-width">
		<div class="flexible-div  align-items-center">
			<div class="dash-md-9">
				<h4>Start Your Dream Project Today</h4>
			</div>
			<div class="dash-md-3">
				<a href="#">Start Now</a>
			</div>
		</div>
	</div>
</section>

<!-- start clients review-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<h3>Serving Clients All Over The World</h3>
					<p>Customers in over 180 countries are gflexible-div ing their businesses with Bookmykart.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fix-width serving_client_bg">
		<div class="flexible-div ">
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt business_box">
					<h4>10K+</h4>
					<p>Live Businesses</p>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt countries_box">
					<h4>180+</h4>
					<p>Countries</p>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt users_box">
					<h4>5M+</h4>
					<p>Users</p>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="owl-carousel owl-theme owl_serving_clients owl-loaded owl-drag">
					<!--end item-->
					<!--end item-->
					<!--end item-->
				<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4600px, 0px, 0px); transition: all 0.25s ease 0s; width: 8050px;"><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/jkgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/kingkones.png">
							</div>
							<div class="logo_box">
								<img src="images/kunaic.png">
							</div>
							<div class="logo_box">
								<img src="images/maagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/maatoshri.png">
							</div>
							<div class="logo_box">
								<img src="images/mayurmart.png">
							</div>
							<div class="logo_box">
								<img src="images/mellowkart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/nutriorg.png">
							</div>
							<div class="logo_box">
								<img src="images/quikgroc.png">
							</div>
						</div>	
					</div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/redgenie.png">
							</div>
							<div class="logo_box">
								<img src="images/richmmoo.png">
							</div>
							<div class="logo_box">
								<img src="images/sabkuchhai.png">
							</div>
							<div class="logo_box">
								<img src="images/sabyaha.png">
							</div>
							<div class="logo_box">
								<img src="images/shankargrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/smartgrocer.png">
							</div>
							<div class="logo_box">
								<img src="images/smartmart.png">
							</div>
							<div class="logo_box">
								<img src="images/taazmart.png">
							</div>
							<div class="logo_box">
								<img src="images/unclesgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/ursfresh.png">
							</div>
						</div>	
					</div></div><div class="owl-item" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/ambalagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/bhopalbasket.png">
							</div>
							<div class="logo_box">
								<img src="images/city-fresh.png">
							</div>
							<div class="logo_box">
								<img src="images/frshnfast.png">
							</div>
							<div class="logo_box">
								<img src="images/gautamkart.png">
							</div>
							<div class="logo_box">
								<img src="images/glee.png">
							</div>
							<div class="logo_box">
								<img src="images/gmart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/indianmart.png">
							</div>
							<div class="logo_box">
								<img src="images/instagro.png">
							</div>
						</div>	
					</div></div><div class="owl-item" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/jkgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/kingkones.png">
							</div>
							<div class="logo_box">
								<img src="images/kunaic.png">
							</div>
							<div class="logo_box">
								<img src="images/maagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/maatoshri.png">
							</div>
							<div class="logo_box">
								<img src="images/mayurmart.png">
							</div>
							<div class="logo_box">
								<img src="images/mellowkart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/nutriorg.png">
							</div>
							<div class="logo_box">
								<img src="images/quikgroc.png">
							</div>
						</div>	
					</div></div><div class="owl-item active" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/redgenie.png">
							</div>
							<div class="logo_box">
								<img src="images/richmmoo.png">
							</div>
							<div class="logo_box">
								<img src="images/sabkuchhai.png">
							</div>
							<div class="logo_box">
								<img src="images/sabyaha.png">
							</div>
							<div class="logo_box">
								<img src="images/shankargrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/smartgrocer.png">
							</div>
							<div class="logo_box">
								<img src="images/smartmart.png">
							</div>
							<div class="logo_box">
								<img src="images/taazmart.png">
							</div>
							<div class="logo_box">
								<img src="images/unclesgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/ursfresh.png">
							</div>
						</div>	
					</div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/ambalagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/bhopalbasket.png">
							</div>
							<div class="logo_box">
								<img src="images/city-fresh.png">
							</div>
							<div class="logo_box">
								<img src="images/frshnfast.png">
							</div>
							<div class="logo_box">
								<img src="images/gautamkart.png">
							</div>
							<div class="logo_box">
								<img src="images/glee.png">
							</div>
							<div class="logo_box">
								<img src="images/gmart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/indianmart.png">
							</div>
							<div class="logo_box">
								<img src="images/instagro.png">
							</div>
						</div>	
					</div></div><div class="owl-item cloned" style="width: 1140px; margin-right: 10px;"><div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/jkgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/kingkones.png">
							</div>
							<div class="logo_box">
								<img src="images/kunaic.png">
							</div>
							<div class="logo_box">
								<img src="images/maagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/maatoshri.png">
							</div>
							<div class="logo_box">
								<img src="images/mayurmart.png">
							</div>
							<div class="logo_box">
								<img src="images/mellowkart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/nutriorg.png">
							</div>
							<div class="logo_box">
								<img src="images/quikgroc.png">
							</div>
						</div>	
					</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
	</div>
</section>
<!-- end clients review-->


{{>footer}}