{{>header}}
<!-- start home banner -->
<section class="full-width home_banner_bg">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-10 dash-lg-6">
				<div class="banner_cntnt">
					<h2>Launch Your E-commerce Store Today</h2>
					<p>Build your online store with Bookmykart.. Powerful Features. Instant Setup. Easy Pricing</p>
					<div class="banner_bts">
						<a href="/signup">Apply Now</a>
						<a href="/login">Log In</a>
					</div>
				</div>
			</div>
			<div class="dash-md-2 dash-lg-6"></div>
		</div>
	</div>
</section>
<!-- end home banner -->
<!-- start program overview -->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="section_top_heading heading_padd">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>Your partner in Ecommerce Growth</h3>
				</div>
			</div>
		</div>
		<div class="flexible-div">
			<div class="dash-md-4">
				<div class="partner_growth partner_ornage">
					<div class="partner_img">
						<img src="images/card1.png" class="image-resposive">
					</div>
					<div class="partner_cntnt">
						<h6>Mobile Application Ready</h6>
						<p>Not just website, launch you ecommerce mobile applications as well and gain more trust of the users.</p>
					</div>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="partner_growth partner_blue">
					<div class="partner_img">
						<img src="images/card2.png" class="image-resposive">
					</div>
					<div class="partner_cntnt">
						<h6>Marketing Support</h6>
						<p>From start to growth, we will help you in every step of your online selling.</p>
					</div>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="partner_growth partner_red">
					<div class="partner_img">
						<img src="images/card3.png" class="image-resposive">
					</div>
					<div class="partner_cntnt">
						<h6>Start Selling Online</h6>
						<p>With the growing number of online users, you should start selling online to boost your sale.</p>
					</div>
				</div>
			</div><!--end dash-->
			
		</div><!--end flexible-->
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="feature_btn">
					<a href="#" class="more_btn">Check More Feature</a>
				</div>
			</div>
		</div><!--end flexible-->
	</div>
</section>
<!-- end program overview -->
<!-- start middle content -->
<section class="full-width section_p section_wave">
	<div class="fix-width">
		<div class="flexible-div align-items-center">
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/store.png" class="image-resposive">
				</div>
			</div><!--end dash-->
			<div class="dash-md-7">
				<div class="build_cntnt">
					<h4>Build E-commerce store Quickly</h4>
					<p>Bookmykart offers an innovative e-commerce software that can be accessed entirely over the Internet that can be easily managed by anyone even with zero technical skills. Just click few buttons, upload your catalog, and start selling online in just few hours. All you need is just a laptop to manage your business.</p>
					<ul>
						<li><span><i class="fas fa-check"></i></span> Zero IT cost</li>
						<li><span><i class="fas fa-check"></i></span> Payment Gateway Setup</li>
						<li><span><i class="fas fa-check"></i></span> Easy Product uploading</li>
						<li><span><i class="fas fa-check"></i></span> Marketing Support</li>
					</ul>
					<a href="#" class="more_btn">Start Your Trail Now <span style="margin-left: 5px;"><i class="fas fa-chevron-right"></i></span></a>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div align-items-center middle_order">
			<div class="dash-md-7">
				<div class="build_cntnt">
					<h4>Easy Payment gateway and Logistic Integration</h4>
					<p>Bookmykart offers an easy integration of payment gateway and logistic platform to avoid any hurdle in your growth. Just choose your payment gateway, logistic details and go live in minutes. We offered multiple payment and logistics option pre-integrated with the software.</p>
					<a href="#" class="more_btn">Know More <span style="margin-left: 5px;"><i class="fas fa-chevron-right"></i></span></a>
				</div>
			</div><!--end dash-->
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/payment_method.png" class="image-resposive">
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p section_wave">
	<div class="fix-width">
		<div class="flexible-div align-items-center">
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/grocery-application.png" class="image-resposive">
				</div>
			</div><!--end dash-->
			<div class="dash-md-7">
				<div class="build_cntnt">
					<h4>Launch Your Online Grocery Store</h4>
					<p>With our ready to use grocery e-commerce application, you can easily sell fruits, vegetable or grocery online. We have different application for Customer, Store Manager, Packing Boy & Delivery boy to ease the process of selling. Apart from applications, you will also get an online e-Commerce Website to sell your products. Powerful admin panel allows you to manage your store completely.</p>
					<ul>
						<li><span><i class="fas fa-check"></i></span> No coding knowledge required</li>
						<li><span><i class="fas fa-check"></i></span> Ready to launch Application</li>
						<li><span><i class="fas fa-check"></i></span> Android and iOS ready Platform</li>
						<li><span><i class="fas fa-check"></i></span> Retain your regular customers</li>
						<li><span><i class="fas fa-check"></i></span> Sell Fruits, Vegetable & Grocery Online</li>
						<li><span><i class="fas fa-check"></i></span> Customers can place order at their comfort</li>
					</ul>
					<a href="#" class="more_btn">Learn More About Grocery E-commerce Store <span style="margin-left: 5px;"><i class="fas fa-chevron-right"></i></span></a>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div align-items-center middle_order">
			<div class="dash-md-7">
				<div class="build_cntnt">
					<h4>Multi-seller Ready Platform</h4>
					<p>Not everyone can sell every product. Once you grow with your customer base, you may wish to offer them maximum products. Bookmykart offers you an easy option to convert your platform to a multi-seller platform which allows other sellers with different catalogue to sell on your platform.</p>
					<a href="#" class="more_btn">Know More <span style="margin-left: 5px;"><i class="fas fa-chevron-right"></i></span></a>
				</div>
			</div><!--end dash-->
			<div class="dash-md-5">
				<div class="build_image">
					<img src="images/multi_seller.png" class="image-resposive">
				</div>
			</div><!--end dash-->
		</div><!--end flexible-->
	</div>
</section><!--end section-->
<!-- end middle content -->
<!-- start limited -->
<section class="full-width limited_time">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<h6>LIMITED TIME - Earn up to &#x20B9;25 each month for driving free users!</h6>
			</div>
		</div>
	</div>
</section>
<!-- end limited -->




<!-- start clients review-->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="section_top_heading heading_padd">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>What Our Customers Have to Say</h3>
				</div>
				
			</div>
		</div><!--end flexible-->
		<div class="flexible-div justify-content-center">
			<div class="dash-md-12">
				<div class="owl-carousel owl-theme">
			    <div class="item">
			    	<div class="flexible-div align-items-center">
			    		<div class="dash-md-8">
			    			<div class="clients_review_cntnts">
			    				<p>Bookmykart helped us taking a step towards our dreams. Now I can say that these guys really deserves an applause.</p>
			    				<h6>Lekhnath <span>Director</span></h6>
			    				<p class="info">Hygifoods</p>
			    			</div>
			    		</div>
			    		<div class="dash-md-4">
			    			<div class="clients_review_img">
			    				<img src="images/clients1.png" class="img-fluid">
			    			</div>
			    		</div>
			    	</div>
			    </div><!--end item-->
			    <div class="item">
			    	<div class="flexible-div align-items-center">
			    		<div class="dash-md-8">
			    			<div class="clients_review_cntnts">
			    				<p>From a basic knowledge to giving a shape to my idea, Bookmykart stands on my side at each and every step.</p>
			    				<h6>Amar <span>Director</span></h6>
			    				<p class="info">Grocery</p>
			    			</div>
			    		</div>
			    		<div class="dash-md-4">
			    			<div class="clients_review_img">
			    				<img src="images/clients1.png" class="img-fluid">
			    			</div>
			    		</div>
			    	</div>
			    </div><!--end item-->
			    <div class="item">
			    	<div class="flexible-div align-items-center">
			    		<div class="dash-md-8">
			    			<div class="clients_review_cntnts">
			    				<p>We were looking for a reliable and robust solution. And believe us we have tried around seven other platforms before using Bookmykart. Now I can say that there is no reason to look behind. Highly satisfied.</p>
			    				<h6>Anuj <span>Director</span></h6>
			    				<p class="info">123solid.com</p>
			    			</div>
			    		</div>
			    		<div class="dash-md-4">
			    			<div class="clients_review_img">
			    				<img src="images/clients1.png" class="img-fluid">
			    			</div>
			    		</div>
			    	</div>
			    </div><!--end item-->
			    
			</div>
			</div>
		</div><!--end flexible-->
	</div>
</section>
<!-- end clients review-->
{{>footer}}