<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="css/gride.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
	<title>47shops</title>
</head>
<body>
<section class="full-width join_usbg">
	<div class="flexible-div mobile_center">
		<div class="dash-sm-5 dash-md-7">
			
		</div>
		<div class="dash-12 dash-sm-7 dash-md-5 happening_r_p">
			<div class="joinus_cntnt">
				<a href="/">
					<img src="images/logo.png">
				</a>
				<h1>Happening now</h1>
				<h5>Join <span>47shops</span> today.</h5>
				<a href="/signup" class="sign_btn">Sign Up</a>
				<a href="/login" class="login_btn">Login</a>
			</div>
		</div>
	</div>
	<!-- for img -->
	<div class="join_us_img">
		<img src="images/join_bg.jpg">
	</div>

</section>


</body>
</html>