<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="css/gride.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
	<title>47shops</title>
</head>
<body>
<section class="full-width join_usbg sign_bg">
	<div class="fix-width">
		<div class="flexible-div sign_align_center">
			<div class="dash-sm-4 dash-md-5 dash-lg-7">
				<div class="sign_logo">
					<a href="/">
						<img src="images/logo.png">
					</a>
				</div>
			</div>
			<div class="dash-sm-8 dash-md-7 dash-lg-5">
				<div class="signup_form">
					<h4>Login to your Account</h4>
					<form action="/login" method="post">
						<ul>
							<li>
								<label>Enter Email Address</label>
								<input type="Email" name="email">
							</li>
							<li>
								<label>Enter Password</label>
								<input type="password" name="password">
								<a href="/forgot-password" class="forgot_password">Forgot Password?</a>
							</li>
							<li>
								<input type="submit" name="" value="Log In">
							</li>
						</ul>
					</form>
					<p class="sign_btn">Don’t have an account?<a href="/signup"> Sign Up Free!</a></p>
				</div>
			</div>	
		</div>
	</div>
	<!-- for img -->
	<div class="join_us_img">
		<img src="images/signup_bg.jpg">
	</div>

</section>
<!-- start verify modal -->
<div class="sign_verify_modal">
	<div class="sign_verify_cntnt">
		<a href="javascript:void(0);" class="sign_modal_close" onclick="hidemodal();"><i class="fas fa-times"></i></a>
		<h4>We sent you a code</h4>
		<p>Enter it below to verify <span>demo@gmail.com/+91 9876543210</span></p>
		<label>Enter Verify Code</label>
		<input type="text" name="">
		<button class="resend_btn">Resend Code</button>
		<button class="verify_btn">Verify</button>
	</div>
</div>
<!-- end verify modal -->

<script type="text/javascript">
	function insteadf(btn_cntnt) {
		let emailinput = document.getElementsByClassName("sign_email")[0];
		let labelcntnt = document.getElementsByClassName("instead_lebal")[0]; 
		if (emailinput.type == "email") {
			emailinput.type = "number";
			labelcntnt.innerHTML = "Enter Mobile Number";
			btn_cntnt.innerHTML = "Use Mobile Number Instead";
		}else if(emailinput.type == "number"){
			emailinput.type = "email";
			labelcntnt.innerHTML = "Enter Email";
			btn_cntnt.innerHTML = "Use Email Instead";
		}
	}
		let sign_modal = document.getElementsByClassName("sign_verify_modal")[0];
		let sign_verify_cntnt = document.getElementsByClassName("sign_verify_cntnt")[0];
	function showmodal(){
		sign_modal.classList.add("active");
		sign_verify_cntnt.classList.add("active");
	}
	function hidemodal(){
		sign_modal.classList.remove("active");
		sign_verify_cntnt.classList.remove("active");
	}
	window.onclick = function(event) {
            if (event.target == sign_modal) {
            sign_modal.classList.remove("active");
            sign_verify_cntnt.classList.remove("active");
          }
	}
</script>

</body>
</html>