{{>header}}
<!-- start home banner -->
<section class="full-width home_banner_bg pricing_banner">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-10 dash-lg-6">
				<div class="banner_cntnt">
					<h2>Affordable Pricing for Everyone!!</h2>
					<p>Choose a plan right for your business.</p>
					<div class="banner_bts pricing_banner_btn">
						<a href="javascript:void(0)">Plan Starts @ Rs999/month only</a>
					</div>
				</div>
			</div>
			<div class="dash-md-2 dash-lg-6"></div>
		</div>
	</div>
</section>
<!-- end home banner -->




<!-- start become bookmykart -->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>Pricing!!</h3>
				</div>
			</div>
		</div>

		<div class="flexible-div ">
			<div class="dash-md-4">
				<div class="choose_paid_cntnt why_pricing">
					<h6>Startup</h6>
					<h4>Rs. 999<span>/Per Project/Month, Billed Annually</span></h4>
					<a href="#" class="apply_btn">Buy Now</a>
					<div class="pricing_list_box">
						<p>Includes</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">E-commerce Website</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Admin Panel</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add upto 2500 Products</span>
							</li>
						</ul>
						<p>Features</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Category Management</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Sub-categories Management</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Products Management</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Bulk Products Upload using Excel</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Manage Store</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Stock Management</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Brands Management</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Manage Delivery Slots</span>
							</li>
						</ul>
						<p>Notifications</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">SMS Notifications</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">App Notifications</span>
							</li>
						</ul>
						<p>Personalization</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Custom Domain</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Upload Your Brand Logo</span>
							</li>
						</ul>
						<p>Marketing</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Refer and Earn Program</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Discount Code Engine</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Monthly Shopping Gift Offers</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Upload Banners</span>
							</li>
						</ul>
						<p>Payment Options</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Cash on Delivery</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Payu Payment Gateway</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Website Wallet</span>
							</li>
						</ul>
						<p>User Dashboard</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">OTP based registration</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">User Dashboard</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Manage Order</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add Multiple Addresses</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Wallet Top-up</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Create Favourite Grocery List</span>
							</li>
						</ul>
					</div>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="choose_paid_cntnt why_pricing">
					<h6>Growth</h6>
					<h4>Rs. 2999<span>/Per Project/Month, Billed Annually</span></h4>
					<a href="#" class="apply_btn">Buy Now</a>
					<div class="pricing_list_box">
						<p>Includes everything in</p>
						<h4 class="Includes_plus">Startup+</h4>
						<p>Apps</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Android Customer App</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Store Manager App</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Packing Boy App</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Delivery Boy App</span>
							</li>
						</ul>
						<p>Space Usage</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add Upto 6 Staff accounts</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add Upto 6000 Products</span>
							</li>
						</ul>
						<p>Features</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">App Wallet</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Membership Super Saver Plan</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Subscription Model</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Loyalty Program</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">100 Free SMS Credits</span>
							</li>
						</ul>
						<p>Upload</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Free Upload to Play Store</span>
							</li>
						</ul>
					</div>
				</div>
			</div><!--end dash-->
			<div class="dash-md-4">
				<div class="choose_paid_cntnt why_pricing">
					<h6>Enterprise</h6>
					<h4>Rs. 4999<span>/Per Project/Month, Billed Annually</span></h4>
					<a href="#" class="apply_btn">Buy Now</a>
					<div class="pricing_list_box">
						<p>Includes everything in</p>
						<h4 class="Includes_plus">Growth+</h4>
						<p>Apps</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">iPhone Customer App</span>
							</li>
						</ul>
						<p>Space Usage</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add Upto 20 Staff accounts</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Add Upto 12000 Products</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">500 Free SMS Credits</span>
							</li>
						</ul>
						<p>Upload</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">One time Upload to Play Store</span>
							</li>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">One time Upload to the Apple App Store</span>
							</li>
						</ul>
						<p>Upload</p>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-check"></i></span>
								<span class="cntnt">Dedicated Manager for 15 days</span>
							</li>
						</ul>
					</div>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
		</div>
	<!-- </div> -->
</section>
<!-- end become bookmykart -->
<!-- start limited -->
<section class="full-width limited_time related_price">
	<div class="fix-width">
		<div class="flexible-div  align-items-center">
			<div class="dash-md-9">
				<h4>Ready to get started with Bookmykart’s Subscription Model?</h4>
			</div>
			<div class="dash-md-3">
				<a href="#">Start Your Store Today?</a>
			</div>
		</div>
	</div>
</section>
<!-- end limited -->
<!-- start become bookmykart -->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<h3>All plans include</h3>
				</div>
			</div>
		</div><!--end flexible-div -->
		<div class="flexible-div ">
			<div class="dash-sm-6 dash-lg-3">
				<div class="program_cntnt become_aff plans_include">
					<ol>
						<li> Product Upload Guidance</li>
						<li> Email Support</li>
						<li> Social Media Links</li>
						<li> One Free Training Session</li>
					</ol>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-6 dash-lg-3">
				<div class="program_cntnt become_aff plans_include">
					<ol>
						<li> OTP based registration</li>
						<li> User Dashboard</li>
						<li> SEO Friendly URL's</li>
						<li> Push Notifications</li>
						<li> Order Cancellation</li>
						<li> Geo-location based address</li>
					</ol>
				</div>
			</div><!--end dash-->
			<div class=" dash-sm-6 dash-lg-3">
				<div class="program_cntnt become_aff plans_include">
					<ol>
						<li> About Us Page</li>
						<li> Terms & Privacy Pages</li>
						<li> Cancellation Policy Page</li>
						<li> Coupon Usage Policy Page</li>
						<li> Contact Us Page</li>
						<li> Refund Policy Page</li>
					</ol>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-6 dash-lg-3">
				<div class="program_cntnt become_aff plans_include">
					<ol>
						<li> Invoicing</li>
						<li> Inventory Management</li>
						<li> GST Rates Management</li>
					</ol>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
	</div>
</section>
<!-- end become bookmykart -->
<section class="full-width section_p newaddon_main_box">
        <div class="fix-width">
                              <div class="new_addon_main_heading">
                                <h3>Addons</h3>
                              </div>
                              <div class="product_new_addon">
                                <div class="flexible-div">
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Extra Products</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹150/1000products/mo.</p>
                                        <p>Billed annually</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Staff Accounts</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹100/user/mo.</p>
                                        <p>Billed annually</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Add Warehouses/Stores</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹1000/store/mo.</p>
                                        <p>Billed annually</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>SMS Pack</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹2500/10000sms</p>
                                        <p>Valid for 1 year</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                </div>
                                <div class="flexible-div">
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Dedicated Account Manager</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹15000/mo.</p>
                                        <p>Billed monthly</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Telephonic Support</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹5000/20 Man hours per month</p>
                                        <p>Billed monthly</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Training Sessions</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹1500/hour</p>
                                        <p>Billed per session</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                  <div class="dash-md-3 dash-sm-6">
                                    <div class="new_addon_cntnt">
                                      <h5>Product Uploading</h5>
                                      <div class="new_addon_bill_info">
                                        <p class="new_addon_price">₹10/product</p>
                                        <p>Billed on number of products</p>
                                      </div>
                                    </div>
                                  </div><!--end dash-->
                                </div>
                              </div>
                            </div>
    </section>
<!-- start limited -->
<section class="full-width limited_time related_price">
	<div class="fix-width">
		<div class="flexible-div  align-items-center">
			<div class="dash-md-9">
				<h4>Ready to get started with Bookmykart’s Subscription Model?</h4>
				<p>Sell anywhere. Accept any payment. Grow your business.</p>
			</div>
			<div class="dash-md-3">
				<a href="#">Start Your Store Today?</a>
			</div>
		</div>
	</div>
</section>
<!-- end limited -->
<!-- start serving clients -->
<section class="full-width section_p">
	<div class="fix-width">
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<h3>Serving Clients All Over The World</h3>
					<p>Customers in over 180 countries are gflexible-div ing their businesses with Bookmykart.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fix-width serving_client_bg">
		<div class="flexible-div ">
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt business_box">
					<h4>10K+</h4>
					<p>Live Businesses</p>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt countries_box">
					<h4>180+</h4>
					<p>Countries</p>
				</div>
			</div><!--end dash-->
			<div class="dash-sm-4 dash-md-4">
				<div class="business_cntnt users_box">
					<h4>5M+</h4>
					<p>Users</p>
				</div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
		<div class="flexible-div ">
			<div class="dash-md-12">
				<div class="owl-carousel owl-theme owl_serving_clients">
					<div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/ambalagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/bhopalbasket.png">
							</div>
							<div class="logo_box">
								<img src="images/city-fresh.png">
							</div>
							<div class="logo_box">
								<img src="images/frshnfast.png">
							</div>
							<div class="logo_box">
								<img src="images/gautamkart.png">
							</div>
							<div class="logo_box">
								<img src="images/glee.png">
							</div>
							<div class="logo_box">
								<img src="images/gmart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/indianmart.png">
							</div>
							<div class="logo_box">
								<img src="images/instagro.png">
							</div>
						</div>	
					</div><!--end item-->
					<div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/jkgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/kingkones.png">
							</div>
							<div class="logo_box">
								<img src="images/kunaic.png">
							</div>
							<div class="logo_box">
								<img src="images/maagrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/maatoshri.png">
							</div>
							<div class="logo_box">
								<img src="images/mayurmart.png">
							</div>
							<div class="logo_box">
								<img src="images/mellowkart.png">
							</div>
							<div class="logo_box">
								<img src="images/hrimkari.png">
							</div>
							<div class="logo_box">
								<img src="images/nutriorg.png">
							</div>
							<div class="logo_box">
								<img src="images/quikgroc.png">
							</div>
						</div>	
					</div><!--end item-->
					<div class="item">
						<div class="serving_clients_logoes">
							<div class="logo_box">
								<img src="images/redgenie.png">
							</div>
							<div class="logo_box">
								<img src="images/richmmoo.png">
							</div>
							<div class="logo_box">
								<img src="images/sabkuchhai.png">
							</div>
							<div class="logo_box">
								<img src="images/sabyaha.png">
							</div>
							<div class="logo_box">
								<img src="images/shankargrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/smartgrocer.png">
							</div>
							<div class="logo_box">
								<img src="images/smartmart.png">
							</div>
							<div class="logo_box">
								<img src="images/taazmart.png">
							</div>
							<div class="logo_box">
								<img src="images/unclesgrocery.png">
							</div>
							<div class="logo_box">
								<img src="images/ursfresh.png">
							</div>
						</div>	
					</div><!--end item-->
				</div>
			</div><!--end dash-->
		</div><!--end flexible-div -->
	</div>
</section>
<!-- end serving clients -->



{{>footer}}