{{>header}}
<!-- start Frequently -->
<section class="full-width section_p frequently_bgc">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="section_top_heading">
					<div class="section_top_icon">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="286px" height="74px" viewBox="0 0 286 74" version="1.1">
							  <defs>
							    <linearGradient x1="50%" y1="2.62874681%" x2="50%" y2="100%" id="linearGradient-1">
							      <stop stop-color="#ff8f59" offset="0%"></stop>
							      <stop stop-color="#ff7a59" offset="100%"></stop>
							    </linearGradient>
							  </defs>
							  <g id="Dividers/Lines" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							    <g id="Div/Line/Bar" transform="translate(-132.000000, -135.000000)">
							      <g id="Lines" transform="translate(78.000000, 135.000000)">
							        <g id="Group" transform="translate(197.000000, 37.000000) rotate(-270.000000) translate(-197.000000, -37.000000) translate(160.000000, -106.000000)">
							          <g id="Group-12">
							            <path d="M63,125.828277 L63,0" id="Stroke-1" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M63,285.828277 L63,160" id="Stroke-4" stroke="#ff8f59" stroke-width="2"></path>
							            <path d="M0,183.526795 C0,197.074734 10.9811289,208.055863 24.5290683,208.055863 C38.0747341,208.055863 49.055863,197.074734 49.055863,183.526795 C49.055863,169.981129 38.0747341,159 24.5290683,159 C10.9811289,159 0,169.981129 0,183.526795 M19.4181826,183.526795 C19.4181826,180.709896 21.7098965,178.418183 24.5290683,178.418183 C27.3459665,178.418183 29.6376804,180.709896 29.6376804,183.526795 C29.6376804,186.343693 27.3459665,188.63768 24.5290683,188.63768 C21.7098965,188.63768 19.4181826,186.343693 19.4181826,183.526795" id="Fill-7" fill="url(#linearGradient-1)"></path>
							            <path d="M52,141.846991 C52,147.837731 56.8585243,152.693982 62.8492644,152.693982 C68.8400045,152.693982 73.6962553,147.837731 73.6962553,141.846991 C73.6962553,135.853977 68.8400045,131 62.8492644,131 C56.8585243,131 52,135.853977 52,141.846991 M53.8074529,141.846991 C53.8074529,136.863423 57.8634227,132.805179 62.8492644,132.805179 C67.8328326,132.805179 71.8888024,136.863423 71.8888024,141.846991 C71.8888024,146.830559 67.8328326,150.888802 62.8492644,150.888802 C57.8634227,150.888802 53.8074529,146.830559 53.8074529,141.846991" id="Fill-9" fill="url(#linearGradient-1)"></path>
							            <path d="M55,141.457164 C55,145.576793 58.3398092,148.914328 62.4571641,148.914328 C66.5767926,148.914328 69.9166018,145.576793 69.9166018,141.457164 C69.9166018,137.337536 66.5767926,134 62.4571641,134 C58.3398092,134 55,137.337536 55,141.457164 M56.8074529,141.457164 C56.8074529,138.342434 59.342434,135.807453 62.4571641,135.807453 C65.5741678,135.807453 68.1091489,138.342434 68.1091489,141.457164 C68.1091489,144.571894 65.5741678,147.106875 62.4571641,147.106875 C59.342434,147.106875 56.8074529,144.571894 56.8074529,141.457164" id="Fill-11" fill="url(#linearGradient-1)"></path>
							            <path d="M34.2684615,106 C38.2835078,106 41.536923,109.255689 41.536923,113.268462 C41.536923,117.283508 38.2835078,120.539197 34.2684615,120.539197 C30.2534152,120.539197 27,117.283508 27,113.268462 C27,109.255689 30.2534152,106 34.2684615,106" id="Fill-13" fill="url(#linearGradient-1)"></path>
							            <path d="M50.4879396,79 C52.9660826,79 54.9758793,81.0097967 54.9758793,83.4879396 C54.9758793,85.9660826 52.9660826,87.9758793 50.4879396,87.9758793 C48.0097967,87.9758793 46,85.9660826 46,83.4879396 C46,81.0097967 48.0097967,79 50.4879396,79" id="Fill-15" fill="url(#linearGradient-1)"></path>
							          </g>
							        </g>
							      </g>
							    </g>
							  </g>
							</svg>
					</div>
					<h3>Terms</h3>
				</div>
			</div>
		</div>
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="frequency_according">
				    <div class="tabs">
				      <div class="tab">
				        <input type="radio" id="rd1" name="rd">
				        <label class="tab-label" for="rd1">
				        	<h6>TERMS OF SERVICE</h6>
				        </label>
				        <div class="tab-content">
				          <div class="tab_cntnt_box">
				          	<p><strong><span>Account Terms</span></strong></p>
				          	<p>You must be 18 years or older to use this Service.<br>
You must provide your full legal name, current address, a valid email address, and any other information needed in order to complete the signup process.<br>
You are responsible for keeping your password secure. 47shops cannot and will not be liable for any loss or damage from your failure to maintain the security of your account and password.<br>
You may not use the 47shops service for any illegal or unauthorized purpose nor may you, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws) as well as the laws of India.<br>
You are responsible for all activity and content (data, graphics, photos, links) that is uploaded under your 47shops account.<br>
You must not transmit any worms or viruses or any code of a destructive nature.<br>
A breach or violation of any of the Account Terms as determined in the sole discretion of 47shops will result in an immediate termination of your services.</p>
				          	<br>
				          	<p><strong><span>General Conditions</span></strong></p>
				          	<p>You must read, agree with and accept all of the terms and conditions contained in this User Agreement and the Privacy Policy before you may become a member of 47shops or make any payment to 47shops for any service.
<br>
We reserve the right to modify or terminate the Service for any reason, without notice at any time.
We reserve the right to refuse service to anyone for any reason at any time.<br>
Your use of the Service is at your sole risk. The Service is provided on an ”as is“ and ”as available“ basis without any warranty or condition, express, implied or statutory.<br>
47shops does not warrant that the service will be uninterrupted, timely, secure, or error-free.
47shops does not warrant that the results that may be obtained from the use of the service will be accurate or reliable.<br>
You understand that your Content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.<br>
We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libellous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.<br>
47shops does not warrant that the quality of any products, services, information, or other material purchased or obtained by you through the Service will meet your expectations, or that any errors in the Service will be corrected.<br>
You expressly understand and agree that 47shops shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses resulting from the use of or inability to use the service.<br>
In no event shall 47shops or our suppliers be liable for lost profits or any special, incidental or consequential damages arising out of or in connection with our site, our services or this agreement (however arising including negligence). You agree to indemnify and hold us and (as applicable) our parent, subsidiaries, affiliates, 47shops partners, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your breach of this Agreement or the documents it incorporates by reference, or your violation of any law or the rights of a third party.<br>
Technical support is only provided to paying account holders and is only available via email.
You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by 47shops.<br>
Verbal or written abuse of any kind (including threats of abuse or retribution) of any 47shops customer, 47shops employee, member, or officer will result in immediate account termination.<br>
We do not claim any intellectual property rights over the material you provide to the 47shops service.
By uploading images and item description content to 47shops, you agree to allow other internet users to view them and you agree to allow 47shops to display and store them and you agree that 47shops can, at any time, review all the content submitted by you to its Service.<br>
The failure of 47shops to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and 47shops and govern your use of the Service, superseding any prior agreements between you and 47shops (including, but not limited to, any prior versions of the Terms of Service).<br>
You shall not purchase search engine or other pay per click keywords (such as Google AdWords), or domain names that use 47shops or 47shops trademarks and/or variations and misspellings thereof.<br>
47shops does not pre-screen Content and it is in their sole discretion to refuse or remove any Content that is available via the Service.
Questions about the Terms of Service should be sent to support@47shops.com</p>
				          	<br>
				          	<p><strong><span>Payment of Fees</span></strong></p>
				          	<p>There are different payment term options available, and depending on the payment term decided with 47shops the merchant has to pay on the pre-decided monthly, quarterly, half-yearly, yearly terms or upfront payment plan(excluding server cost).<br>
The merchant has to pay with-in the due date, or he/she risks the chance of closure/termination of the online store.<br>
All fees are exclusive of all state and central taxes, service, sales tax or other taxes, fees or charges now in force or enacted in the future (“Taxes”).<br>
47shops does not provide refunds.<br>
47shops does not provide any type of compensation.</p>
				          	<br>
				          	<p><strong><span>Cancellation and Termination</span></strong></p>
				          	<p>Once your account is cancelled all of your Content will be immediately deleted from the Service. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.<br>
We reserve the right to modify or terminate the 47shops service for any reason, without notice at any time.<br>
Fraud: Without limiting any other remedies, 47shops may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.</p>
				          	<br>
				          	<p><strong><span>Modifications to the Service and Prices</span></strong></p>
				          	<p>Prices for using 47shops are subject to change upon 14 days notice from 47shops. Such notice may be provided at any time by posting the changes to the 47shops Site (47shops.com) or via an announcement.<br>
47shops reserves the right at any time to time to modify or discontinue, the Service (or any part thereof) with or without notice.<br>
47shops shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</p>
				          	<br>
				          	<p><strong><span>License.</span></strong></p>
				          	<p>License Grant. During the Term, solely within the Territory and subject to the terms and conditions of this Agreement, 47shops grants You a limited, non-exclusive, license to (a) install and use the Software and (b) make a single back-up copy of the registered Software for archival purposes. The foregoing license is revocable, non-transferable, non-assignable and non-sub-licensable.<br>
License Transfers. The Software is licensed only to You. You may not rent, lease, sub-license, sell, assign, pledge, transfer or otherwise dispose of the Software, on a temporary or permanent basis, without the prior written consent of 47shops. (For the avoidance of doubt, this license is only granted to one person or company and if more than one person or company wishes to use the Software, each user must purchase a separate license).<br>
47shops Hosting Service. In case you are using 47shops servers to launch your application and software, you will not be provided with the cPanel control to access the code or database of the Software. You will only be granted access to the admin panel to manage the Software.</p>
				          		<br>
				          	<p><strong><span>Restrictions of Use.</span></strong></p>
				          	<p>Installation of Software Package. The Software is licensed as a single product and none of the components in the Software may be separated for installation or use.<br>
Single Domain. This Software is licensed to operate on only one domain.
Back-Up Copy. All backup copies must be an exact copy of the original Software. If You make a back-up copy of the Software, such copy must be in machine-readable form and You must reproduce on such copy all Intellectual Property Right notices and any other proprietary legends on the original copy of the Software.<br>
No Derivative Works; Reverse Engineering. You may not alter, merge, modify, prepare derivative works based upon, adapt or translate the Software in any manner whatsoever. Additionally, You may not decompile, reverse engineer, disassemble, or otherwise reduce the Software to any human-readable form, or use the Software to develop any application having the same primary functions as the Software.</p>
				          		<br>
				          	<p><strong><span>Monitoring of Software.</span></strong></p>
				          	<p>Audit by 47shops. You agree that 47shops may audit Your use of the Software for compliance with this Agreement at any time, upon reasonable notice. You agree to cooperate with 47shops and any auditors selected by 47shops to complete the audit including by providing access to any facilities in which the Software is used or stored, including without limitation the facilities which house the hardware upon which the Software is installed. In the event that such audit reveals any use of the Software by You other than in compliance with the terms of this Agreement, You shall reimburse 47shops for all reasonable expenses related to such audit in addition to any other liabilities You may incur as a result of such noncompliance.</p>
				          	<br>
				          	<p><strong><span>Intellectual Property Rights.</span></strong></p>
				          	<p>Ownership. 47shops owns all right, title and interest, including all Intellectual Property Rights, in and to, (a) the Software; (b) the Trademarks; (c) 47shops Anonymous Usage Data; and (d) any and all Submissions (collectively, “47shops IP Rights”).<br>
Trademarks; Domain Names. This Agreement does not authorize You to use the Trademarks. If You wish to use the Trademarks, You must obtain a written license to use the Trademarks from 47shops. Additionally, You will not (a) assert any Intellectual Property Right in the Trademarks or in any element, derivation, adaptation, variation or name thereof; (b) contest the validity of any of the Trademarks; (c) contest 47shops’s ownership of any of the Trademarks; or (d) in any jurisdiction, adopt, use, register, or apply for registration of, whether as a corporate name, trademark, service mark or other indication of origin, or as a domain name or sub-domain name, any trademarks, or any word, symbol or device, or any combination confusingly similar to, or which incorporates in whole or in part, any of the Trademarks.
No Implied License or Ownership. Nothing in this Agreement or the performance thereof, or that might otherwise be implied by law, will operate to grant You any right, title or interest, implied or otherwise, in or to the 47shops IP Rights.<br>
No Contest. You acknowledge and agree that the 47shops IP Rights are and shall remain the sole and exclusive property of 47shops. You agree that You shall never oppose, seek to cancel, or otherwise contest 47shops’s ownership of the 47shops IP Rights or act in any manner that would or might conflict with or compromise 47shops’s ownership of the 47shops IP Rights, or similarly affect the value of the 47shops IP Rights. Whenever requested by 47shops, You shall execute such documents as 47shops may deem necessary or appropriate to confirm, maintain or perfect 47shops’s ownership of the 47shops IP Rights. In the event 47shops is unable, after using its reasonable endeavours (which shall not require 47shops to incur any costs), to secure Your signature on any document or documents needed to apply for or to confirm, maintain or perfect 47shops’s ownership of the 47shops IP Rights for any other reason whatsoever, You hereby irrevocably designate and appoint 47shops as Your duly authorized attorney-in-fact, to act for and on Your behalf and stead to execute and sign any document or documents and to do all other lawfully permitted acts to confirm, maintain or perfect 47shops’s ownership of the 47shops IP Rights with the same legal force and effect as if executed by You. In the event You become aware that any third party is, or may be, infringing the 47shops IP Rights, You agree to notify 47shops of such fact.<br>
Proprietary Notices. Third party trademarks, trade names, product names and logos included in the Software may be the trademarks or registered trademarks of their respective owners. You may not remove or alter any trademark, trade names, product names, logo, copyright or other proprietary notices, legends, symbols or labels in the Software.<br>
Submissions. With respect to any feedback, suggestions or ideas (“Submissions”) that You submit to 47shops concerning the Software, or any of 47shops’s products or services, You agree that: (a) Your Submissions will automatically become the property of 47shops, without any compensation to You; (b) 47shops may use or redistribute the Submissions for any purpose and in any way; (c) 47shops is not obligated to review any Submissions; and (d) 47shops is not obligated to keep any Submissions confidential
<br>
<b>Banned restricted products and services:</b> You shall not, directly or indirectly, offer, attempt to offer, trade or attempt to trade in any item, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule, regulation or guideline for the time being in force. Without prejudice to the generality of the above, BFRS does not permit hosting of following items:
<br>
“Securities” within the meaning of the Securities Contract Regulation Act, 1956, including shares, bonds, debentures, etc. and/or any other financial instruments/assets of any description. While this does not prevent a share broking firm to host its website with BFRS, the trading of the shares through an e-store made available by BFRS is prohibited.<br>
Living, dead creatures and/or the whole or any part of any animal which has been kept or preserved by any means whether artificial or natural including rugs, skins, specimens of animals, antlers, horns, hair, feathers, nails, teeth, musk, eggs, nests, other animal products of any description the sale and purchase of which is prevented or restricted in any manner by applicable laws (including those prohibited under The Wildlife Protection Act, 1972). Weapons of any description.<br>
Liquor, tobacco products, drugs, psychotropic substances, narcotics, intoxicants of any description, medicines, palliative/curative substances.<br>
Religious items, including books, artefacts, etc. of any description or any other such item which is likely to affect the religious sentiments of any person.<br>
“Antiquities” and “Art Treasures” in violation of the provisions of the Antiquities and Art Treasures Act, 1972(“the Act”).<br>
Used cellular phone SIM Cards.<br>
Furthermore, you agree to display and adhere to a terms of use or other user-type agreement, as well as a privacy policy, governing Your operation of Your Store and Your conduct with Your Store’s customers.
</p>
				          	<br>
				          	<p><strong><span>General clauses</span></strong></p>
				          	<p>No failure or delay by 47shops in exercising any of its rights under these Terms of Service shall be deemed to be a waiver of that right.
<br>
No person who is not a party to these Terms of Service has any right to rely upon or enforce any of the Terms of Service.
<br>
Each of the paragraphs of these Terms of Service operates separately. If any court or relevant authority decides that any of them are unlawful or unenforceable, the remaining paragraphs will remain in full force and effect.</p>
<br>
				          	<p><strong><span>Notices & Contact Information</span></strong></p>
				          	<p>If you have questions or concerns about any of the terms in this agreement, or about how your information is handled, please direct your inquiry to 47shops as set forth below.</p>
				          	<b><p>47shops Limited</p></b>
				          	<b><em>Attn: General Counsel</em></b>
				          	<p>SF 705, 7th Floor, JMD Megapolis, 
<br>
Sector 48, Sohna Road, Gurugram 122018
<br>
india
<br>
E-Mail: legal@47shops.com</p>
<br>
<p><strong><span>Applicable law and jurisdiction</span></strong></p>
<p>Please note that these Terms of Service, its subject matter and its formation, are governed by Indian law. You and 47shops both agree to that the courts of Gurugram(India) will have exclusive jurisdiction.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      <div class="tab">
				        <input type="radio" id="rd2" name="rd">
				        <label class="tab-label" for="rd2">
				        	<h6>Privacy Policy</h6>
				        </label>
				        <div class="tab-content">
				         <div class="tab_cntnt_box">
				          	<p><strong><span>What this policy covers</span></strong></p>
				          	<p>47shops respects and values your privacy. That's why 47shops has established this Privacy Policy (referred to as the "Privacy Policy" herein) - so that 47shops can disclose what information 47shops collects about you and how 47shops use, store and disclose such information. 47shops wants to help you make an informed decision about whether or not to share your information with 47shops.<br>

47shops reserves the right to revise, modify, add or remove provisions to this Privacy Policy at any time. By continuing to use www.47shops.com ("the Website") after receiving notice of the updated Privacy Policy, you acknowledge that you have read and understood the revised Privacy Policy.
<br>
Capitalised terms in this Privacy Policy have the meaning given to such terms in 47shops' Terms of Service.</p>
				          	<br>
				          	<p><strong><span>How does 47shops collect information from you?</span></strong></p>
				          	<p>47shops collects information from you when you send it to 47shops directly by filling out forms on 47shops' Website (including any application you may make for Services or the Software), corresponding with 47shops by e-mail, writing to 47shops by post, or speaking to 47shops by telephone. 47shops also collects information from you when you browse the Website and use the Software, as set out in detail below. Some of the methods 47shops use to collect data are automated and will take effect automatically as you navigate the Website and/or use the Software.</p>
				          	<br>
				          	<p><strong><span>What information does 47shops collect?<br>Personal Information.</span></strong></p>
				          	<p>Personal information means any information relating to an identified or identifiable natural person; an identifiable natural person is one who can be identified, directly or indirectly, by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person ("Personal Information").<br>

47shops may collect the following Personal Information from you: name, address, telephone number, postal address, e-mail address, IP address, information about the type of browser you use, your operating system, the screen resolution of your browser, your ISP, which pages you view on the Website and the time and duration of your visits to the Website, credit card number (in the case of direct customers) and, if applicable, company name, postal address, telephone number, e-mail address, credit card number or tax ID number as well as similar information concerning technical contacts, marketing contacts, and executive contacts within your company or organisation.</p>
				          	<br>
				          	<p><strong><span>User Communications.</span></strong></p>
				          	<p>If you communicate with 47shops, 47shops may collect information relating to that communication whether it takes the form of e-mail, letter, forum posting, testimonials or any other form of communication between you and 47shops or submitted by you to the Website (collectively, "User Communications").</p>
				          	<br>
				          	<p><strong><span>Server Information.</span></strong></p>
				          	<p>If you use one of 47shops' software products such as 47shops' proprietary E-commerce Solution, 47shops may collect certain information concerning such software and concerning the server upon which the software operates. This information includes without limitation: (a) the licensed or unlicensed status of the software; (b) the source from which the license for the software was obtained (i.e., 47shops or a 47shops affiliate); or (c) information about the server upon which the software is installed including (i) the public IP address, (ii) the operating system and (iii) the use of any virtualization technologies on such server ((a) through (c) collectively, "Server Information")). Additionally, "Server Information" may also include information collected by 47shops from time to time concerning which features of the software are most often used in order to improve and make adjustments to the software; and information collected from you by 47shops in the event that you request technical support services including without limitation, IP addresses, usernames and passwords necessary to login to SSH, the root directory of the server upon which you installed the 47shops software and any affected accounts including email accounts, MySQL accounts and other accounts.</p>
				          	<br>
				          	<p><strong><span>Non-Personal Information.</span></strong></p>
				          	<p>47shops also collects data in a form that does not, on its own, permit direct association with any specific individual. 47shops may collect, use, transfer, and disclose non-personal information for any purpose.</p>
				          	<br>
				          	<p><strong><span>How does 47shops use and store the information it collects?</span></strong></p>
				          	<p>As a general matter, 47shops may use the Personal Information you disclose to 47shops to improve and provide the Website, the Services and 47shops' other products and services, and for the specific purpose that you gave 47shops your Personal Information. More specific details on how 47shops use your information follows below.
<br>
47shops may use Personal Information to create and authenticate your account, to process transactions you request such as software license purchases in order to perform any contract you have entered into with 47shops, to provide you with the customer and technical support and to communicate with you about your account and 47shops' products and services.
<br>
The Personal Information you provide to 47shops allows 47shops to provide you with the newsletters and mailing lists that you have signed up for with 47shops. If you do not want to be on 47shops' mailing list, you can opt-out at any time.
<br>
47shops may also use Personal Information to offer, market or advertise to you 47shops products and services. While such 47shops products and services may reference, incorporate or include third-party products and services, 47shops will not use your Personal Information to independently offer, market or advertise third-party products and services unless 47shops first obtains your consent to do so.
<br>
From time to time, 47shops may use your Personal Information to send important notices, such as important product updates and communications about purchases as well as changes to 47shops' terms, conditions, and policies. Because this information is important for your interaction with 47shops you may not opt-out of receiving these communications.
<br>
47shops may also use your Personal Information for any other legal purpose stated in this Privacy Policy, and any other purpose for which you have given 47shops express consent.
<br>
Where you consent to 47shops doing so, 47shops may use your Personal Information to send you direct marketing communications. Should you ever choose to 'opt-out' of receiving such communications 47shops may retain your Personal Information on file to ensure that 47shops does not continue to target you with communications of the type that you have asked 47shops to cease sending to you.
<br>
47shops limits the use of Personal Information to the purposes identified in this Privacy Policy and for which you have provided explicit consent. In accordance with established policies and procedures, 47shops retains Personal Information only for as long as necessary to fulfil the stated purposes, unless it is required by law for a different period or 47shops has the consent of the individual.
<br>
In accordance with established policies and procedures, 47shops will periodically destroy or erase any Personal Information that is no longer needed.
<br>
47shops may use User Communications in the same way as 47shops uses Personal Information. If you communicate with 47shops for a particular purpose, 47shops may use your User Communications for that purpose. For example, if you contact 47shops for technical support, 47shops may use your communications to provide technical support to you.
<br>
47shops may use Server Information to provide you with technical support services and to maintain, evaluate, improve and provide 47shops products and services. 47shops may also use such information to investigate unlicensed (and therefore unauthorised) uses of 47shops' software.
<br>
How does 47shops disclose the Personal Information it collects?
<br>
Except as disclosed in this Privacy Policy, 47shops does not share your Personal Information with unaffiliated third parties other than as set out in this Privacy Policy. 47shops will never disclose your Personal Information to an unaffiliated third party for the purposes of e-mail or other marketing unless 47shops first obtains your consent to do so.
<br>
47shops cannot be responsible for protecting your Personal Information if you share such information in publicly available sections of the Website such as the user forums or testimonials section. You should use your own judgment in disclosing this information on the Website.
<br>
In the event that 47shops is purchased by another company, merges with another company or has a substantial portion of its assets purchased by another company, 47shops may share your Personal Information with that company. In such an event, 47shops will notify you in accordance with the notice provisions of the Terms of Use.
<br>
47shops may share your Personal Information with third parties as permitted or required by applicable law, by a court order or by another judicial or governmental request. 47shops may also disclose your Personal Information if 47shops determines that such disclosure is necessary to protect 47shops's rights and remedies or is necessary for national security, law enforcement, or other issues of public importance. Such disclosures could take place in the context of an investigation or to prevent or take action against illegal activity, suspected fraud, situations involving potential threats to the physical safety of any person, violations of 47shops's Terms of Service or other 47shops agreements, or as otherwise required by applicable law. Where this is the case 47shops will endeavour to give you notice of such disclosures, to the extent that 47shops is lawfully permitted to do so.
<br>
47shops may disclose your Personal Information to affiliated third parties that assist 47shops in providing maintaining, evaluating, improving and providing the Website, the Services and any other 47shops products and services. 47shops may disclose your Personal Information to affiliated third parties for the purposes of offering, marketing or advertising 47shops products and services to you (such 47shops products and services may reference, incorporate or include third-party products and services). In such an event, 47shops will take reasonable measures to prevent such affiliated third parties from using your Personal Information for other purposes.</p>
				          	<br>
				          	<p><strong><span>Does 47shops use cookies? <br>Cookies</span></strong></p>
				          	<p>Yes, 47shops uses cookies to distinguish you from other users of the Website and to improve your overall experience. When you use the Website, certain information may be stored locally on your device using 'cookies' or similar technologies such as objects stored in the device's local storage. A cookie is a small text file used to store limited information about the user of the device. They help 47shops to identify how 47shops' users use the Website, and so that 47shops can continue to develop and improve it.
<br>
Cookies do this by storing information about your preferences on your device, including the device model, manufacturer, screen resolution, device capabilities, service provider, country and city location data. 47shops uses the following types of cookies:</p>
<p><b>Strictly necessary:</b>These cookies enable 47shops' Website to function correctly and deliver the services and products you have requested.</p>
<p><b>Performance & Functionality: </b>These cookies are used to enhance the performance and functionality of 47shops' Website but are non-essential to their use (for example, 47shops uses cookies to remember your preferences on the Website). However, without these cookies, certain functionality may become unavailable.</p>
<p><b>Analytical:</b>These cookies collect information that is used either in aggregate form to help 47shops understand how the Website is being used or to help 47shops customise the Website for you. In particular, 47shops uses Google analytics cookies. For more information about Google's privacy policy, please visit http://www.google.com/intl/en/policies/. If you do not wish to allow the use of Google Analytics cookies at all, Google provides an opt-out plug-in for most common website browsers http://tools.google.com/dlpage/gaoptout.<br>By using the Service, you accept the use of cookies in accordance with this Privacy Policy.</p>
<br>
<p><strong><span>Your cookie choices</span></strong></p>
<p>You have the right to choose whether to accept or refuse cookies and similar technologies. You can exercise this choice by not accepting the Terms of Service and this Privacy Policy, however, please note that if you choose to do so, you will not be able to use the Service.
<br>
For more information about what cookies are and your rights to control cookies, please visit the third party educational resource www.allaboutcookies.org.</p>
<br>
<p><strong><span>How does 47shops protect Personal Information and other information about you?</span></strong></p>
<p>47shops takes reasonable steps to protect any Personal Information 47shops collects about you. No security measures are foolproof, and 47shops cannot guarantee the security of your information other than to take reasonable steps to protect it. In the event that 47shops becomes aware of a security breach, unauthorised disclosure or inadvertent disclosure concerning your information, you agree that 47shops may notify you of such an event using the notice provisions of the Terms of Use.
<br>
You are responsible for maintaining your account's security.</p>
<br>
<p><strong><span>Information and access to your Personal Information</span></strong></p>
<p>Based on what you have told 47shops, 47shops try to ensure that your contact information and preferences are accurate, complete, and up to date. You have the right to request access to and rectification or erasure of Personal Information or restriction of processing concerning your Personal Information or to object to the processing as well as the right to data portability. 47shops will comply with erasure requests as long as 47shops is not required to retain the Personal Information by law and does not need to retain it for its legitimate business purposes. 47shops may decline to process requests that are frivolous/vexatious, jeopardise the privacy of others, are extremely impractical, or for which access is not otherwise required by local law. Access, correction, or deletion requests can be made by emailing privacy@47shops.com.</p>
<br>
<p><strong><span>Your Rights</span></strong></p>
<p>As a Data Subject, you have a number of rights in relation to your Personal Information. These include your rights:

To have 47shops rectify Personal Information which 47shops hold about you that is inaccurate;
To have 47shops erase Personal Information which relates to you if it is no longer necessary for 47shops to continue to process it, or if 47shops have no lawful basis to store, process or retain it (though 47shops do have rights to refuse these requests in certain situations);<br>
To object to 47shops processing your Personal Information;<br>
To be informed about the existence of any automated decision making and profiling of your Personal Information, and where appropriate, be provided with meaningful information about the logic involved, as well as the significance and the envisaged consequences of such processing that affects you;
To have 47shops provide you with a copy of your Personal Information for transfer to an alternative provider of similar services.<br>
Should you ever wish to exercise one or more of these rights you should contact 47shops at privacy@47shops.com.</p>
<br>
<p><strong><span>Third-party websites</span></strong></p>
<p>47shops' Website may, from time to time, contain links to and from the websites of 47shops' partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that 47shops does not accept any responsibility or liability for these policies. Please check these policies before you submit any Personal Information to these websites.</p>
<br>
<p><strong><span>What if you have questions, comments or complaints about this Privacy Policy?</span></strong></p>
<p>Please feel free to direct any questions, comments or complaints regarding this Privacy Policy. It is 47shops' policy to investigate and attempt to resolve all formal written complaints 47shops receive concerning this Privacy Policy. 47shops will cooperate with appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that cannot be resolved between 47shops and an individual.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      <div class="tab">
				        <input type="radio" id="rd3" name="rd">
				        <label class="tab-label" for="rd3">
				        	<h6>Refunds & Cancellation Policy</h6>
				        </label>
				        <div class="tab-content">
				         <div class="tab_cntnt_box">
				          	<p>You may cancel your account at any time by emailing support@47shops.com
Once your account is cancelled all of your Content will be immediately deleted from the Service. Since deletion of all data is final please be sure that you do in fact want to cancel your account before doing so.<br>
If you cancel the Service in the middle of the month, you will receive one final invoice via email. Once that invoice has been paid you will not be charged again.
We reserve the right to modify or terminate the 47shops service for any reason, without notice at any time.<br>
Fraud: Without limiting any other remedies, 47shops may suspend or terminate your account if we suspect that you (by conviction, settlement, insurance or escrow investigation, or otherwise) have engaged in fraudulent activity in connection with the Site.<br>
Note: no refunds are offered, against the payment which is already made to 47shops, even if you wish to cancel the plan or deal.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      <div class="tab">
				        <input type="radio" id="rd4" name="rd">
				        <label class="tab-label" for="rd4">
				        	<h6>Disclaimer</h6>
				        </label>
				        <div class="tab-content">
				         <div class="tab_cntnt_box">
				          	<p>THIS DISCLAIMER WILL BE APPLICABLE TO ANY PERSON VISITING OR ACCESSING 47shops.COM WEBSITE OR ANY BENEFIT ACCEPTING THIS AGREEMENT RELATED TO THE SERVICES PROVIDED HEREIN. 47shops.COM DOES NOT HAVE ANY METHOD TO ASSESS OR VERIFY THE VERACITY OF BENEFIT OR THIRD PARTY SERVICES OR ANY PRODUCT PURCHASED THROUGH BENEFIT ONLINE STORES HOSTED BY 47shops.COM. THIS SITE IS PROVIDED BY 47shops.COM ON \93AS IS\94 AND \93AS AVAILABLE\94 BASIS. 47shops.COM MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, SERVICES OR PRODUCTS INCLUDED ON THIS SITE, OR THE SERVICES WILL MEET YOUR REQUIREMENTS, WILL ALWAYS BE AVAILABLE, ACCESSIBLE, UNINTERRUPTED, TIMELY, SECURE, OR OPERATE WITHOUT ERROR; THAT THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THE SITE WILL BE AS REPRESENTED BY SELLERS, AVAILABLE FOR SALE AT THE TIME OF PURCHASE, LAWFUL TO SELL, OR THAT SELLERS OR BUYERS WILL PERFORM AS PROMISED;

TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, 47shops.COM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. 47shops.COM DOES NOT WARRANT THAT THE SITE, ITS SERVERS, OR EMAIL SENT FROM 47shops.COM ARE FREE OF VIRUS OR THEIR HARMFUL COMPONENTS. 47shops.COM WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, SERVICE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE AND CONSEQUENTIAL DAMAGES. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.</p>
				          </div>
				        </div>
				      </div><!--end tab-->
				      
				    </div><!--end tabs-->
				  </div>
			</div><!--end col-->
		</div>
	</div>
</section>
<!-- end Frequently -->


{{>footer}}