<!-- start footer -->
<footer class="full-width section_p refer_clients_bg" style="margin-top: auto;">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-3">
				<div class="footer_cntnt">
					<h6>Contact Us</h6>
					<p>Salestango Private Limited 705, JMD Megapolis, Sector 48, Sohna Road, Gurgaon, Haryana, India 122018</p>
					<ul class="social_icns">
						<li>
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-linkedin-in"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-youtube"></i></a>
						</li>
						<li>
							<a href="#"><i class="fab fa-instagram"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="dash-md-3">
				<div class="footer_cntnt">
					<h6>New to Bookmykart?</h6>
					<ul class="links">
						<li>
							<a href="/">What is 47shops?</a>
						</li>
						<li>
							<a href="/features">Ecommerce Website</a>
						</li>
						<li>
							<a href="/pricing-why">Pricing to start an Ecommerce Store</a>
						</li>
						<li>
							<a href="/faq">FAQs</a>
						</li>
						<li>
							<a href="/terms-condition">Terms & Conditions</a>
						</li>
						<li>
							<a href="#">Pay Online</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="dash-md-3">
				<div class="footer_cntnt">
					<h6>Bookmykart Grocery Store</h6>
					
					<ul class="links">
						<li>
							<a href="/grocery-ecommerce-app">Grocery Ecommerce App</a>
						</li>
						<li>
							<a href="/grocery-application-demo">Manager Application</a>
						</li>
						<li>
							<a href="/grocery-application-demo">Packer Application</a>
						</li>
						<li>
							<a href="/grocery-application-demo">Delivery Boy Application</a>
						</li>
						<li>
							<a href="/grocery-admin-panel">Admin Panel Features</a>
						</li>
						<li>
							<a href="/ecommerce-grocery-requirements">Requirements to start</a>
						</li>
						<li>
							<a href="/grocery-application-demo">Application Demo</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="dash-md-3">
				<div class="footer_cntnt">
					<h6>My Account</h6>
					<ul class="links">
						<li>
							<a href="/login">Login</a>
						</li>
						<li>
							<a href="/signup">Signup</a>
						</li>
					</ul>
				</div>
			</div>
		</div><!--end fixible-->
		
	</div>
</footer>
<!-- end footer -->
<!-- start last footer -->
<div class="full-width last_footerbg">
	<div class="fix-width">
		<div class="flexible-div">
			<div class="dash-md-12">
				<div class="last_footer">
					<p>All rights reserved @ 2021 <a href="#">Blue Eagle Infotech</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end last footer -->


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    dots: false,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
</script>
<script type="text/javascript">
	function moiblemenu(){
		let menu = document.getElementsByClassName('nav_menu')[0];
		menu.classList.toggle("active");
	}
	document.getElementById('bar_box').addEventListener("click", moiblemenu)
</script>
</body>
</html>