<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/owl.carousel.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	<link href="css/gride.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
	<title>47shops</title>
</head>
<body>
<!-- start top header -->
<section class="full-width top_header">
	<div class="fix-width">
		<div class="flexible-div ">
			<div class="dash-md-4"></div>
			<div class="dash-md-8">
				<div class="top_header_cntnt">
					<ul>
						<li>
							<a href="mailto:care@bookmykart.com">
								<span><i class="fas fa-envelope"></i></span>care@bookmykart.com
							</a>
						</li>
						<li>
							<a href="tel:+91 9876543210">
								<span><i class="fas fa-phone"></i></span>+91 9876543210
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end top header -->
<!-- start header -->
<section class="full-width header_section">
	<div class="fix-width" style="position: relative;">
		<div class="flexible-div align-items-center">
			<div class="dash-9 dash-md-3">
				<div class="logo_img">
					<a href="/">
						<img src="images/logo.png" class="image-resposive">
					</a>
				</div>
			</div><!--end dash-->
			<div class="dash-3 dash-md-9 mobile_position">
				<div class="nav_menu">
					<ul>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="javascript:void(0);">Features <span class="arrow_icon"></span></a>
							<div class=submenu>
								<ul>
									<li>
										<a href="/subscription-model">Subscription Model</a>
									</li>
									<li>
										<a href="/membership-plan">Membership Super Saver Plan</a>
									</li>
									<li>
										<a href="/my-grocery-list">Create My Grocery List</a>
									</li>
									<li>
										<a href="/loyality-program">Loyality Program</a>
									</li>
									<li class="feature_btn">
										<a href="/features">View All Features</a>
									</li>
								</ul>
							</div>
						</li>
						<li>
							<a href="/pricing-why">Pricing</a>
						</li>
						<li>
							<a href="/grocery-ecommerce-app">Grocery App</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="javascript:void(0);">More <span class="arrow_icon"></span></a>
							<div class=submenu>
								<ul>
									<li>
										<a href="/grocery-application-demo">Demo</a>
									</li>
									<li>
										<a href="/grocery-admin-panel">Master Admin</a>
									</li>
									<li>
										<a href="/ecommerce-grocery-requirements">Requirements to Start</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="login_btn">
							<a href="/joinus">Login/Signup</a>
						</li>
					</ul>
				</div>
				<div class="menu_bar">
					<span id="bar_box"><i class="fas fa-bars"></i></span>
				</div>
			</div><!--end dash-->
		</div><!--end fixible-->
	</div>
</section>
<!-- end header -->